ion-select{
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: 11px;
}
.add-button {
    opacity: .6;
    border-radius: 20px;
    margin: 30px;
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 40px;


    .add-button:hover{
    opacity: 1;
    transition: ease-in-out .3s;
  }
}

.t2{
  margin: 25px;
  margin-bottom: 0;
  color: #fff;
  z-index: 1;
  text-align: left;
}

.c3{
  --background: var(--ion-color-primary);
  box-shadow: var(--ion-color-primary) 0px 25px 50px -12px;
  z-index: 1;
}
.st1{
  color: #fff;
  font-family: 'Poppins' , sans-serif;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 25px;
  margin-bottom: 25px;
  font-size: 16px;
}
ion-input {
  --padding-start: 10px;
}

.detailcard{
  margin: 0px;
   padding: 10px;
    margin-top: 18px;
}