<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" class="py-2 px-2  header">

    <ion-searchbar  slot="end" style="text-align: left;" class="searchbar"  type="animated"></ion-searchbar>

    <ion-button fill="clear" color="light" (click)="home()" class="backbtn">
      <ion-icon name="chevron-back-outline" (click)="home()"></ion-icon>
      Back
    </ion-button>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-icon class="buttonrefresh" name="menu-outline"></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title class="pagetitle">
     Add Students
    </ion-title>
  
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list class="listheader3" style="margin-top: 10px;">
    <div class="">
      <ion-row>
        <ion-col   size="12">
          <div class="me-auto  d-lg-block">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active text1 " (click)="home()">Home</li>
              <li class="breadcrumb-item li1 page" (click)="add_student()">Add Students</li>
            </ol>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>

<ion-card >
<ion-row>
  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="input">
      <label class="label1">Student Name</label>
      <ion-input class="input" type="text"  placeholder="Enter Student Name" [(ngModel)]="student_data.name" fill="outline"></ion-input>
    </div>
  </ion-col>
  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="text-label label1">Course</label>
      <ion-select  mode="ios" class="selector"    [(ngModel)]="student_data.st_gender"  fill="outline" interface="action-sheet" placeholder="Select course">
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
      </ion-select>
    </div>  
  </ion-col>
  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="label1">Father Name</label>
      <ion-input class="input" type="text"  [(ngModel)]="student_data.f_name" fill="outline" placeholder="Enter Father Name" fill="outline"></ion-input>
    </div>
  </ion-col>
  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="label1">Contact number</label>
      <ion-input class="input" type="text"  placeholder="Enter Contact number"type="number" [(ngModel)]="student_data.contact_no" fill="outline"></ion-input>
    </div>
  </ion-col>
  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="label1">Address</label>
      <ion-input class="input" type="text"  placeholder="Enter Address" [(ngModel)]="student_data.address" fill="outline"></ion-input>
    </div>
  </ion-col>
  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="label1">Qualification</label>
      <ion-input class="input" type="text" [(ngModel)]="student_data.reference"  placeholder="Enter Qualification" fill="outline"></ion-input>
    </div>
  </ion-col>
  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="label1">CNIC</label>
          <ion-input class="input"  type="number" [(ngModel)]="student_data.cnic" placeholder="Enter CNIC" fill="outline"></ion-input>
    </div>
  </ion-col>
  
<ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="text-label label1">Course</label>
      <ion-select  mode="ios" class="selector" [(ngModel)]="student_data.course" fill="outline" interface="action-sheet" placeholder="Select course">
        <ion-select-option value="Full Stack Development">Full Stack Development</ion-select-option>
        <ion-select-option value="Web Development">Web Development</ion-select-option>
        <ion-select-option value="Mobile App Development">Mobile App Development</ion-select-option>
        <ion-select-option value="Graphic Designing">Graphic Designing</ion-select-option>
      </ion-select>
    </div>
  </ion-col>
  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="text-label label1">Course Duration</label>
     <ion-select mode="ios" class="selector"  [(ngModel)]="student_data.c_duration"  (ionChange)="handleCourseDurationChange($event)" fill="outline" interface="action-sheet" placeholder="Select course duration" >
  <ion-select-option value="1 Month">1 Month</ion-select-option>
  <ion-select-option value="2 Month">2 Month</ion-select-option>
  <ion-select-option value="3 Month">3 Month</ion-select-option>
  <ion-select-option value="6 Month">6 Month</ion-select-option>
</ion-select>
    </div>
  </ion-col>

  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="label1">Addmission Date</label>
      <ion-input class="date selector" type="date"  [(ngModel)]="student_data.ad_date" (ionChange)="month($event)" required placeholder="Enter Addmission Date"></ion-input>
    </div>
  </ion-col>
  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="label1">Total Fee</label>
        <ion-input class="input" type="number"  [(ngModel)]="student_data.total_fee" (ngModelChange)="updateRemainingFee()" placeholder="Enter Total Fee" fill="outline"></ion-input>
    </div>
  </ion-col>
  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="label1">Total Installments</label>
      <ion-input class="input"  type="number"  [(ngModel)]="student_data.total_installments" (ionInput)="perinstallment($event)" placeholder="Enter Total Installmemts" fill="outline"></ion-input>
    </div>
  </ion-col>
  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="label1">Per Installment</label>
      <ion-input class="input" type="text" type="number"  fill="outline" [(ngModel)]="student_data.per_installment" (Change)="installment($event)" placeholder="Enter student name" fill="outline"></ion-input>
    </div> 
  </ion-col>
  <ion-col size-lg="6" size-md="6"  size="12">
    <div class="mb-2 form-group">
      <label class="label1">Registration Fee</label>
      <ion-input class="input" type="text" type="number"  [(ngModel)]="student_data.reg_fee" placeholder="Enter student name" fill="outline"></ion-input>
    </div>
  </ion-col>
  </ion-row>
<ion-button expand="block" color="dark" class="button2" 
(click)="Submit_Data()">Submit</ion-button> 
</ion-card>



</ion-content> 