ion-card{
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
@media (min-width:1px) and (max-width:768px) {
    .button2{
        width: 30%;
        padding-left: 4px;
        text-transform: none;
        text-align: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width:769px) {
    .button2{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 4px;
        text-transform: none;
        --border-radius: 5px;
    }
}
ion-select{
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: 11px;
}
.backbtn{
    margin-left: 10px;
}
.htext2{
   position: absolute;
   left: 40%;
   top: 20px;
}
.input{
   box-shadow: none;
}
.form-control:hover .form-control-wrapper{
    border-color: black;
}
.input{
    height: 50px !important;
}
.selector{
    padding-top: -20px !important;
    height: 55px !important;
}
.date{
    border: 1px solid #ced4da;
    padding-left: 20px !important;
    border-radius: 0.375rem
}
.select-wrapper{
    margin-top: -20px ;
}
.select{
    height: 56px;
    border: 1px solid #ced4da;
}
.select:hover {
    border-color: black;
}
.label1{
    padding-left: 3px;
}